<div class="main-container front-page">
    <!-- banner -->
    <div class="banner_top" id="home">
        <div class="wrapper_top_w3layouts">
            <!-- /slider -->
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides callbacks callbacks1" id="slider4">
                        <li>
                            <div class="banner-top" style="background-image:url('../images/clothe1.jpg')">
                                <div class="banner-info-wthree">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-top" style="background-image:url('../images/banner-mid.jpg')">
                                <div class="banner-info-wthree">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-top" style="background-image:url('../images/banner2.jpg')">
                                <div class="banner-info-wthree">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
            <div class="page-content">
                <article id="post-9719" class="post-9719 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="vc_row wpb_row vc_row-fluid fashion-banner1 hover-style2">
                            {{!-- <div class="row-container">
                                <div class="box wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  box-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="image">
                                                        <a href="/products">
                                                            <img class="alignnone size-full wp-image-9709" src="images/clothe2.png" alt="" width="270" height="270" srcset="images/clothe2.jpg 270w, images/clothe2.jpg 150w, images/clothe2.jpg 100w" sizes="(max-width: 270px) 100vw, 270px" />
                                                        </a>
                                                    </div>
                                                    <div class="text text-white">
                                                        <h5 class="text-white">Clothing.No18</h5>
                                                        <p class="text-white">
                                                            Sale Off 20% All Store
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  box-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="image">
                                                        <a href="shop/index.html">
                                                        <img class="alignnone size-full wp-image-9710" src="images/clothe5.jpg" alt="" width="569" height="270" srcset="images/clothe5.jpg 569w, images/clothe5.jpg 300w, images/clothe5.jpg 100w" 
                                                        sizes="(max-width: 569px) 100vw, 569px" /></a></div>
                                                    <div class="text">
                                                        <h5 class="text-white">Men’s Summer Sneaker</h5>
                                                        <p class="text-white">
                                                            Big Sale Off This Week
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  box-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="image">
                                                        <a href="shop/index.html"><img class="alignnone size-full wp-image-9710" src="images/clothe1.jpg"
                                                                alt="" width="569" height="270" srcset="images/clothe1.jpg 569w, images/clothe1.jpg 300w, images/clothe1.jpg 100w"
                                                                sizes="(max-width: 569px) 100vw, 569px" /></a></div>
                                                    <div class="text">
                                                        <h5 class="text-white">Men’s Summer Sneaker</h5>
                                                        <p class="text-white">
                                                            Big Sale Off This Week
                                                        </p>
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  box-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="image"><a href="shop/index.html">
                                                    <img class="alignnone size-full wp-image-9711" src="images/clothe3.jpg"
                                                                                                      alt="" width="270" height="270" srcset="images/clothe3.jpg 270w, images/clothe3.jpg 150w, images/clothe3.jpg 100w"
                                                                                                      sizes="(max-width: 270px) 100vw, 270px" /></a></div>
                                                    <div class="text">
                                                        <h5 class="text-white">Bag.No1</h5>
                                                        <p class="text-white">
                                                            Big Sale No Limited
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid owl-style3 fashion">
                            <div class="row-container">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            
                                            {{!-- <div class="recent_products slide style_4">
                                                <div class="woocommerce columns-1 ">
                                                    <div class="shop-products products row grid-view sidebar">
                                                        {{#each products }}
                                                            <div class="item-col col-12 col-full-hd col-md-12 post-9496 product type-product status-publish has-post-thumbnail product_cat-clothings product_cat-men product_tag-creams product_tag-lotions first instock featured shipping-taxable purchasable product-type-simple">
                                                                <div class="product-wrapper gridview">
                                                                    <div class="list-col4">
                                                                        <div class="product-image">
                                                                            <a href="product/aesthetica-5-piece-brow/index.html" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                                <img width="300" height="353" src="{{ this.imagePath }}" class="min-height-set primary_image wp-post-image"
                                                                                     alt="" srcset="{{ this.imagePath }} 300w, {{ this.imagePath }}, {{ this.imagePath }} 100w, {{ this.imagePath }} 510w"
                                                                                     sizes="(max-width: 300px) 100vw, 300px" /> <span class="shadow"></span>
                                                                            </a> </div>
                                                                    </div>
                                                                    <div class="list-col8">
                                                                        <div class="product-inner">
                                                                            <!--<div class="tag-cate">-->
                                                                                <!--<a href="product-category/clothings/index.html" rel="tag">Clothings</a>,-->
                                                                                <!--<a href="product-category/men/index.html" rel="tag">Men</a>-->
                                                                            <!--</div>-->
                                                                            <h2 class="product-name">
                                                                                <a href="product/aesthetica-5-piece-brow/index.html">
                                                                                    {{ this.title }} <br> {{ this.description }}
                                                                                </a>
                                                                            </h2>
                                                                            <div class="box-rating">
                                                                                <div class="price-box">
                                                                                    <span class="woocommerce-Price-amount amount">
                                                                                        <span class="woocommerce-Price-currencySymbol">&#36;
                                                                                            {{ this.price }}
                                                                                        </span>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere metus vit</div>
                                                                            <div class="count-down">
                                                                            </div>
                                                                            <div class="box-hover">
                                                                                <div class="actions clearfix">
                                                                                    <ul class="add-to-links">
                                                                                        <li class="add-to-cart">
                                                                                            <p class="product woocommerce add_to_cart_inline " style="border:4px solid #ccc; padding: 12px;">
                                                                                            <span class="woocommerce-Price-amount amount">
                                                                                                <span class="woocommerce-Price-currencySymbol">&#36;</span>79.00
                                                                                            </span>
                                                                                                <a href="index937c.html?add-to-cart=9496" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                                                   data-product_id="9496" data-product_sku="" aria-label="Add &ldquo;Aesthetica 5-Piece Brow&rdquo; to your cart"
                                                                                                   rel="nofollow"> Buy Now</a></p>
                                                                                        </li>
                                                                                        <li>
                                                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-9496">
                                                                                                <div class="yith-wcwl-add-button show" style="display:block">
                                                                                                    <a href="496" rel="nofollow" data-product-id="9496"
                                                                                                       data-product-type="simple" class="add_to_wishlist">
                                                                                                        Add to Cart</a>
                                                                                                </div>

                                                                                                <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                                                    <span class="feedback">Product added!</span>
                                                                                                    <a href="wishlist/index.html" rel="nofollow">
                                                                                                        Browse Wishlist </a>
                                                                                                </div>

                                                                                                <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                                                    <span class="feedback">The product is already in the wishlist!</span>
                                                                                                    <a href="wishlist/index.html" rel="nofollow">
                                                                                                        Browse Wishlist </a>
                                                                                                </div>
                                                                                                <div style="clear:both"></div>
                                                                                                <div class="yith-wcwl-wishlistaddresponse"></div>
                                                                                            </div>
                                                                                            <div class="clear"></div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div> --}}
                                            {{#if partProducts}}
                                            <div class="wpb_text_column wpb_content_element  title2">
                                                <div class="wpb_wrapper">
                                                    <h3 style="margin-bottom: 15px;">New arrivals</h3>
                                                    <p>Checkout the latest additions to the fabrixRus collection.</p>
                                                </div>
                                            </div>
                                                <div class="recent_products style_4">
                                                    <div class="woocommerce columns-1 ">
                                                        <div class="shop-products products row grid-view sidebar">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    {{#each partProducts }}
                                                                    <div class="item-col col-12 col-full-hd col-sm-12 col-xs-12 col-lg-3 col-md-3 post-9496 product type-product status-publish has-post-thumbnail product_cat-clothings product_cat-men product_tag-creams product_tag-lotions first instock featured shipping-taxable purchasable product-type-simple">
                                                                        <div class="grid-product">
                                                                            <div class="product-wrapper gridview">
                                                                                <div class="list-col4">
                                                                                    <div class="product-image">
                                                                                        <a href="products/single/{{ this._id }}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                                            <img width="300" height="353" src="{{ this.imagePath1 }}" class="min-height-set primary_image wp-post-image"
                                                                                                alt="" srcset="{{ this.imagePath1 }} 300w, {{ this.imagePath1 }}, {{ this.imagePath1 }} 100w, {{ this.imagePath1 }} 510w"
                                                                                                sizes="(max-width: 300px) 100vw, 300px" /> <span class="shadow"></span>
                                                                                        </a> </div>
                                                                                </div>
                                                                                <div class="list-col8">
                                                                                    <div class="product-inner">
                                                                                        <h2 class="product-name">
                                                                                            <a href="/products/single">
                                                                                                {{ this.title }}
                                                                                            </a>
                                                                                        </h2>
                                                                                        <div class="product-description"> {{ this.description }}</div>
                                                                                        <div class="box-rating">
                                                                                            <div class="price-box">
                                                                                                <span class="woocommerce-Price-amount amount">
                                                                                                    <span class="woocommerce-Price-currencySymbol">&#36;
                                                                                                        {{ this.price }}
                                                                                                    </span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="box-hover">
                                                                                            <div class="actions clearfix">
                                                                                                <ul class="add-to-links">
                                                                                                    <li class="add-to-cart">
                                                                                                        <p class="product woocommerce add_to_cart_inline " style="border:4px solid #ccc; padding: 12px;">
                                                                                                            <span class="woocommerce-Price-amount amount">
                                                                                                                <span class="woocommerce-Price-currencySymbol">&#36;</span>79.00
                                                                                                            </span>
                                                                                                            <a href="/cart" data-quantity="1" class="button product_type_simple add_to_cart_button "
                                                                                                                data-product_id="9496" data-product_sku="" aria-label="Add &ldquo;Aesthetica 5-Piece Brow&rdquo; to your cart"
                                                                                                                rel="nofollow"> Buy Now</a></p>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-9496">
                                                                                                            <div class="yith-wcwl-add-button show" style="display:block">
                                                                                                                <a href="" rel="nofollow" class="add_to_wishlist">
                                                                                                                    Add to Cart</a>
                                                                                                            </div>
                                                
                                                
                                                                                                            <div style="clear:both"></div>
                                                                                                            <div class="yith-wcwl-wishlistaddresponse"></div>
                                                                                                        </div>
                                                                                                        <div class="clear"></div>
                                                                                                    </li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{/each}}
                                                                </div>
                                                                <center>
                                                                    <a href="/products/store">
                                                                        <button type="submit" name="add-to-cart" value="9496" class="single_add_to_cart_button button alt woocommerce-Button button show-more">
                                                                            See more...
                                                                        </button>
                                                                    </a>
                                                                </center>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{else}}
                                                <div class="container">
                                                    <div class="alert alert-info">
                                                        No Posts yet, check back with us in a minute
                                                    </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{!-- <div class="vc_row wpb_row vc_row-fluid latest-posts fashion">
                            <div class="row-container">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  title2">
                                                <div class="wpb_wrapper">
                                                    <h3 style="margin-bottom: 15px;">From Our Blog</h3>
                                                    <p>Consequat magna massa vel suspendisse morbi aliquam faucibus ligula ante ipsum ac nulla.</p>

                                                </div>
                                            </div>
                                            <div class="posts-carousel slide owl-carousel owl-theme" data-col="3">
                                                <div class="group">
                                                    <div class="item-col">
                                                        <div class="post-wrapper">
                                                            <div class="post-thumb"><a href="blog-image-post/index.html"><img width="370" height="242" src="wp-content/uploads/2015/03/blog1-370x242.jpg"
                                                                                                                              class="attachment-beeta-post-thumbwide size-beeta-post-thumbwide wp-post-image" alt="" srcset="wp-content/uploads/2015/03/blog1-370x242.jpg 370w, wp-content/uploads/2015/03/blog1-300x196.jpg 300w, wp-content/uploads/2015/03/blog1-768x503.jpg 768w, wp-content/uploads/2015/03/blog1-1024x670.jpg 1024w, wp-content/uploads/2015/03/blog1.jpg 1170w, wp-content/uploads/2015/03/blog1-600x393.jpg 600w, wp-content/uploads/2015/03/blog1-100x65.jpg 100w"
                                                                                                                              sizes="(max-width: 370px) 100vw, 370px" /></a></div>
                                                            <div class="post-info"><span class="post-category"></span>
                                                                <h3 class="post-title"><a href="blog-image-post/index.html">Blog image post</a></h3>
                                                                <div class="date-comment"><i class="fa-calendar fa"></i><span class="post-date">March 10, 2015</span><span
                                                                        class="comment"><a href="blog-image-post/index.html#comments"><span>3</span> comments</a></span><span
                                                                        class="author">admin</span></div>
                                                                <div class="post-excerpt">
                                                                    <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu
                                                                        augue condimentum rhoncus. Praesent</p>
                                                                </div>
                                                                <div class="post-bottom"><a class="readmore" href="blog-image-post/index.html">read more</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="group">
                                                    <div class="item-col">
                                                        <div class="post-wrapper">
                                                            <div class="post-thumb"><a href="post-with-gallery/index.html"><img width="370" height="242" src="wp-content/uploads/2015/03/blog2-370x242.jpg"
                                                                                                                                class="attachment-beeta-post-thumbwide size-beeta-post-thumbwide wp-post-image" alt="" srcset="wp-content/uploads/2015/03/blog2-370x242.jpg 370w, wp-content/uploads/2015/03/blog2-300x196.jpg 300w, wp-content/uploads/2015/03/blog2-768x503.jpg 768w, wp-content/uploads/2015/03/blog2-1024x670.jpg 1024w, wp-content/uploads/2015/03/blog2.jpg 1170w, wp-content/uploads/2015/03/blog2-600x393.jpg 600w, wp-content/uploads/2015/03/blog2-100x65.jpg 100w"
                                                                                                                                sizes="(max-width: 370px) 100vw, 370px" /></a></div>
                                                            <div class="post-info"><span class="post-category"></span>
                                                                <h3 class="post-title"><a href="post-with-gallery/index.html">Post with Gallery</a></h3>
                                                                <div class="date-comment"><i class="fa-calendar fa"></i><span class="post-date">December 1, 2014</span><span
                                                                        class="comment"><a href="post-with-gallery/index.html#respond"><span>0</span> comments</a></span><span
                                                                        class="author">admin</span></div>
                                                                <div class="post-excerpt">
                                                                    <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu
                                                                        augue condimentum rhoncus. Praesent</p>
                                                                </div>
                                                                <div class="post-bottom"><a class="readmore" href="post-with-gallery/index.html">read more</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="group">
                                                    <div class="item-col">
                                                        <div class="post-wrapper">
                                                            <div class="post-thumb"><a href="post-with-audio/index.html"><img width="370" height="242" src="wp-content/uploads/2015/03/blog3-370x242.jpg"
                                                                                                                              class="attachment-beeta-post-thumbwide size-beeta-post-thumbwide wp-post-image" alt="" srcset="wp-content/uploads/2015/03/blog3-370x242.jpg 370w, wp-content/uploads/2015/03/blog3-300x196.jpg 300w, wp-content/uploads/2015/03/blog3-768x503.jpg 768w, wp-content/uploads/2015/03/blog3-1024x670.jpg 1024w, wp-content/uploads/2015/03/blog3.jpg 1170w, wp-content/uploads/2015/03/blog3-600x393.jpg 600w, wp-content/uploads/2015/03/blog3-100x65.jpg 100w"
                                                                                                                              sizes="(max-width: 370px) 100vw, 370px" /></a></div>
                                                            <div class="post-info"><span class="post-category"></span>
                                                                <h3 class="post-title"><a href="post-with-audio/index.html">Post with Audio</a></h3>
                                                                <div class="date-comment"><i class="fa-calendar fa"></i><span class="post-date">December 1, 2014</span><span
                                                                        class="comment"><a href="post-with-audio/index.html#comments"><span>1</span> comment</a></span><span
                                                                        class="author">admin</span></div>
                                                                <div class="post-excerpt">
                                                                    <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu
                                                                        augue condimentum rhoncus. Praesent</p>
                                                                </div>
                                                                <div class="post-bottom"><a class="readmore" href="post-with-audio/index.html">read more</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="group">
                                                    <div class="item-col">
                                                        <div class="post-wrapper">
                                                            <div class="post-thumb"><a href="post-with-video/index.html"><img width="370" height="242" src="wp-content/uploads/2015/03/blog4-370x242.jpg"
                                                                                                                              class="attachment-beeta-post-thumbwide size-beeta-post-thumbwide wp-post-image" alt="" srcset="wp-content/uploads/2015/03/blog4-370x242.jpg 370w, wp-content/uploads/2015/03/blog4-300x196.jpg 300w, wp-content/uploads/2015/03/blog4-768x503.jpg 768w, wp-content/uploads/2015/03/blog4-1024x670.jpg 1024w, wp-content/uploads/2015/03/blog4.jpg 1170w, wp-content/uploads/2015/03/blog4-600x393.jpg 600w, wp-content/uploads/2015/03/blog4-100x65.jpg 100w"
                                                                                                                              sizes="(max-width: 370px) 100vw, 370px" /></a></div>
                                                            <div class="post-info"><span class="post-category"></span>
                                                                <h3 class="post-title"><a href="post-with-video/index.html">Post with Video</a></h3>
                                                                <div class="date-comment"><i class="fa-calendar fa"></i><span class="post-date">December 1, 2014</span><span
                                                                        class="comment"><a href="post-with-video/index.html#respond"><span>0</span> comments</a></span><span
                                                                        class="author">admin</span></div>
                                                                <div class="post-excerpt">
                                                                    <p>Aliquam et metus pharetra, bibendum massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula
                                                                        in, finibus tortor. Mauris eu</p>
                                                                </div>
                                                                <div class="post-bottom"><a class="readmore" href="post-with-video/index.html">read more</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="group">
                                                    <div class="item-col">
                                                        <div class="post-wrapper">
                                                            <div class="post-thumb"><a href="maecenas-ultricies-sed-odio-in-dapibus/index.html"><img width="370"
                                                                                                                                                     height="242" src="wp-content/uploads/2015/03/blog5-370x242.jpg" class="attachment-beeta-post-thumbwide size-beeta-post-thumbwide wp-post-image"
                                                                                                                                                     alt="" srcset="wp-content/uploads/2015/03/blog5-370x242.jpg 370w, wp-content/uploads/2015/03/blog5-300x196.jpg 300w, wp-content/uploads/2015/03/blog5-768x503.jpg 768w, wp-content/uploads/2015/03/blog5-1024x670.jpg 1024w, wp-content/uploads/2015/03/blog5.jpg 1170w, wp-content/uploads/2015/03/blog5-600x393.jpg 600w, wp-content/uploads/2015/03/blog5-100x65.jpg 100w"
                                                                                                                                                     sizes="(max-width: 370px) 100vw, 370px" /></a></div>
                                                          <div class="post-info"><span class="post-category"></span>
                                                                <h3 class="post-title"><a href="maecenas-ultricies-sed-odio-in-dapibus/index.html">Maecenas ultricies</a></h3>
                                                                <div class="date-comment"><i class="fa-calendar fa"></i><span class="post-date">November 12, 2014</span><span
                                                                        class="comment"><a href="maecenas-ultricies-sed-odio-in-dapibus/index.html#respond"><span>0</span>
																				comments</a></span><span class="author">admin</span></div>
                                                                <div class="post-excerpt">
                                                                    <p>Dolor sit amet, consectetur adipiscing elit. Donec nulla purus, condimentum eget imperdiet a,
                                                                        vulputate in lectus. Sed elementum, diam viverra</p>
                                                                </div>
                                                                <div class="post-bottom"><a class="readmore" href="maecenas-ultricies-sed-odio-in-dapibus/index.html">read
                                                                    more</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                        <div class="vc_row wpb_row vc_row-fluid our-service">
                            <div class="row-container">
                                <div class="box wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  box-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="icon"><img class="alignnone size-full wp-image-9707" src="wp-content/uploads/2018/09/icon2.png"
                                                                           alt="" width="49" height="32" /></div>
                                                    <div class="text">
                                                        <h5>Money Back Guarantee</h5>
                                                        <p>Diam augue augue in fusce voluptatem
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  box-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="icon"><img class="alignnone size-full wp-image-9708" src="wp-content/uploads/2018/09/icon3.png"
                                                                           alt="" width="48" height="32" /></div>
                                                    <div class="text">
                                                        <h5>24/7 Help Center</h5>
                                                        <p>Diam augue augue in fusce voluptatem
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  box-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="icon"><img class="alignnone size-full wp-image-9708" src="wp-content/uploads/2018/09/icon3.png"
                                                                           alt="" width="48" height="32" /></div>
                                                    <div class="text">
                                                        <h5>24/7 Help Center</h5>
                                                        <p>Diam augue augue in fusce voluptatem
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div><!-- .page -->
</div><!-- .wrapper -->
<!--<div class="beeta_loading"></div>-->
<div id="back-top" class="hidden-xs hidden-sm hidden-md"></div>
<script>(function () {
    function addEventListener(element, event, handler) {
        if (element.addEventListener) {
            element.addEventListener(event, handler, false);
        } else if (element.attachEvent) {
            element.attachEvent('on' + event, handler);
        }
    } function maybePrefixUrlField() {
        if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
            this.value = "http://" + this.value;
        }
    }

    var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
    if (urlFields && urlFields.length > 0) {
        for (var j = 0; j < urlFields.length; j++) {
            addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
        }
    }/* test if browser supports date fields */
    var testInput = document.createElement('input');
    testInput.setAttribute('type', 'date');
    if (testInput.type !== 'date') {

        /* add placeholder & pattern to all date fields */
        var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
        for (var i = 0; i < dateFields.length; i++) {
            if (!dateFields[i].placeholder) {
                dateFields[i].placeholder = 'YYYY-MM-DD';
            }
            if (!dateFields[i].pattern) {
                dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
            }
        }
    }

})();</script>
<script type="text/javascript">
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
</script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = { "apiSettings": { "root": "http:\/\/demo.roadthemes.com\/beeta\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } } };
    /* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/contact-form-7/includes/js/scripts5560.js?ver=5.0.4'></script>
<script type='text/javascript' src='wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
<script type='text/javascript' src='wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = { "ajax_url": "\/beeta\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/beeta\/?wc-ajax=%%endpoint%%" };
    /* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min4c8b.js?ver=3.4.5'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = { "ajax_url": "\/beeta\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/beeta\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_bfe738ac7627b160c7af34b178a3fb38", "fragment_name": "wc_fragments_bfe738ac7627b160c7af34b178a3fb38" };
    /* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min4c8b.js?ver=3.4.5'></script>
<script type='text/javascript'>
    jQuery('body').bind('wc_fragments_refreshed', function () {
        jQuery('body').trigger('jetpack-lazy-images-load');
    });

</script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var yith_woocompare = { "ajaxurl": "\/beeta\/?wc-ajax=%%endpoint%%", "actionadd": "yith-woocompare-add-product", "actionremove": "yith-woocompare-remove-product", "actionview": "yith-woocompare-view-table", "actionreload": "yith-woocompare-reload-product", "added_label": "Added", "table_title": "Product Comparison", "auto_open": "yes", "loader": "http:\/\/demo.roadthemes.com\/beeta\/wp-content\/plugins\/yith-woocommerce-compare\/assets\/images\/loader.gif", "button_text": "Compare", "cookie_name": "yith_woocompare_list", "close_label": "Close" };
    /* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/yith-woocommerce-compare/assets/js/woocompare.minb6db.js?ver=2.3.3'></script>
<script type='text/javascript' src='wp-content/plugins/yith-woocommerce-compare/assets/js/jquery.colorbox-min13ac.js?ver=1.4.21'></script>
<script type='text/javascript' src='wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min005e.js?ver=3.1.6'></script>
<script type='text/javascript' src='wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min7359.js?ver=1.2.0'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var yith_wcwl_l10n = { "ajax_url": "\/beeta\/wp-admin\/admin-ajax.php", "redirect_to_cart": "no", "multi_wishlist": "", "hide_add_button": "1", "is_user_logged_in": "", "ajax_loader_url": "http:\/\/demo.roadthemes.com\/beeta\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader.gif", "remove_from_wishlist_after_add_to_cart": "yes", "labels": { "cookie_disabled": "We are sorry, but this feature is available only if cookies are enabled on your browser.", "added_to_cart_message": "<div class=\"woocommerce-message\">Product correctly added to cart<\/div>" }, "actions": { "add_to_wishlist_action": "add_to_wishlist", "remove_from_wishlist_action": "remove_from_wishlist", "move_to_another_wishlist_action": "move_to_another_wishlsit", "reload_wishlist_and_adding_elem_action": "reload_wishlist_and_adding_elem" } };
    /* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl950a.js?ver=2.2.3'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/bootstrap.minbfce.js?ver=4.1.0'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/owl.carousel531b.js?ver=2.3.4'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/owl.carousel.min531b.js?ver=2.3.4'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/fancybox/jquery.fancybox.packd63f.js?ver=2.1.5'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/fancybox/helpers/jquery.fancybox-buttons97de.js?ver=1.0.5'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/fancybox/helpers/jquery.fancybox-media0ba6.js?ver=1.0.6'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/fancybox/helpers/jquery.fancybox-thumbs19f6.js?ver=1.0.7'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/superfish/superfish.mind046.js?ver=1.3.15'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/modernizr.custom.min61da.js?ver=2.6.2'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/jquery.shuffle.min6e0e.js?ver=3.0.0'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/jquery.mousewheel.min4830.js?ver=3.1.12'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/jquery.countdown.min3601.js?ver=2.2.0'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/jquery.counterup.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='wp-content/themes/beeta/js/variablesc2d5.js?ver=20140826'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var latestposts_options = { "atts": { "colsnumber": "3", "enable_slider": "true", "items": "3", "item_desktop": "3", "item_small": "2", "item_tablet": "2", "item_mobile": "1", "navigation": "1", "pagination": "", "speed": "500", "effect": "" } };
    /* ]]> */
</script>
<script type='text/javascript' src='wp-content/themes/beeta/js/beeta-themec2d5.js?ver=20140826'></script>
<script type='text/javascript'>
    var ajaxurl = "wp-admin/admin-ajax.html";
</script>
<script type='text/javascript' src='wp-content/plugins/mega_main_menu/src/js/frontend784e.js?ver=2.1.6'></script>
<script type='text/javascript' src='wp-includes/js/wp-embed.min5010.js?ver=4.9.8'></script>
<script type='text/javascript' src='wp-includes/js/underscore.min4511.js?ver=1.8.3'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpUtilSettings = { "ajax": { "url": "\/beeta\/wp-admin\/admin-ajax.php" } };
    /* ]]> */
</script>
<script type='text/javascript' src='wp-includes/js/wp-util.min5010.js?ver=4.9.8'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_variation_params = { "wc_ajax_url": "\/beeta\/?wc-ajax=%%endpoint%%", "i18n_no_matching_variations_text": "Sorry, no products matched your selection. Please choose a different combination.", "i18n_make_a_selection_text": "Please select some product options before adding this product to your cart.", "i18n_unavailable_text": "Sorry, this product is unavailable. Please choose a different combination." };
    /* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min4c8b.js?ver=3.4.5'></script>
<script type='text/javascript' src='wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min7e15.js?ver=5.5.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var product_options_sale = { "atts": { "enable_time": "true", "per_page": "1", "columns": "1", "product_styles": "style_6", "orderby": "", "order": "", "enable_slider": "", "item_large": "5", "items": "5", "item_desktop": "4", "item_small": "3", "item_tablet": "2", "item_mobile": "1", "navigation": "", "pagination": "", "speed": "500", "effect": "" } };
    var product_options_recent = { "atts": { "per_page": "6", "columns": "1", "orderby": "", "product_styles": "style_4", "order": "", "enable_slider": "true", "items": "4", "item_desktop": "3", "item_small": "2", "item_tablet": "2", "item_mobile": "1", "navigation": "1", "pagination": "", "speed": "500", "effect": "" }, "ajax_url": "http:\/\/demo.roadthemes.com\/beeta\/wp-admin\/admin-ajax.php" };
    var product_options_featured = { "atts": { "per_page": "6", "columns": "3", "product_styles": "style_5", "orderby": "", "order": "", "enable_slider": "true", "item_large": "1", "items": "1", "item_desktop": "1", "item_small": "2", "item_tablet": "2", "item_mobile": "1", "navigation": "1", "pagination": "", "speed": "500", "effect": "" }, "ajax_url": "http:\/\/demo.roadthemes.com\/beeta\/wp-admin\/admin-ajax.php" };
    var product_options_selling = { "atts": { "per_page": "6", "columns": "3", "product_styles": "style_5", "enable_slider": "true", "item_large": "1", "items": "1", "item_desktop": "1", "item_small": "2", "item_tablet": "2", "item_mobile": "1", "navigation": "1", "pagination": "", "speed": "500", "effect": "" }, "ajax_url": "http:\/\/demo.roadthemes.com\/beeta\/wp-admin\/admin-ajax.php" };
    var product_options_category = { "atts": { "per_page": "6", "columns": "3", "product_styles": "style_5", "orderby": "", "order": "", "category": "trending", "enable_slider": "true", "item_large": "1", "items": "1", "item_desktop": "1", "item_small": "2", "item_tablet": "2", "item_mobile": "1", "navigation": "1", "pagination": "", "speed": "500", "effect": "" } };
    /* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/roadthemes-helper/js/product_options5010.js?ver=4.9.8'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var mc4wp_forms_config = [];
    /* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.mind19b.js?ver=4.2.5'></script>
<!--[if lte IE 9]>
<script type='text/javascript' src='wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.2.5'></script>
<![endif]-->